import { Injectable } from '@angular/core';
import { QueryEntity } from '@datorama/akita';
import { <%= classify(name) %>State, <%= classify(name) %>Store } from '@akita/stores';

@Injectable()
<% if (isEnityStore) { %>export class <%= classify(name) %>Query extends QueryEntity { }<% } %><% if (!isEnityStore) { %>export class <%= classify(name) %>Query extends Query { }<% } %>
  constructor(
    protected store: <%= classify(name) %>Store,
  ) {
    super(store);
  }
}
